/* -------  General Styles ------- */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-image:url(images/background/light_background.jpg);
  background-size: cover;
}
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color:#f5f5f5f1;
  text-align: center;
  letter-spacing: -2;
  margin: 0;
  padding: 20px 0 0 0;
}

header {
	height: 120px;
	background-color:#8badbbb6;
  opacity: 0.4;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color:#f5f5f5f1;
  text-align: center;
  letter-spacing: -2;
  margin: 0;
  padding: 20px 0 0 0;
}



header h3 {
	font-family: Arial Arial, Helvetica, sans-serif;
	color: rgba(255, 0, 0, 0.568);
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

footer {
  height:80px;
	background-color: gray;
  opacity: 0.4;
	
}
article {
	padding: 0 25%;
  margin: 80px 0;
}


/* -------  Type ------- */
h1, h2, h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#36393af1;
  text-align: center;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 15px; }

p, li {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 line-height: 2em;
 margin-bottom: 0;
}

a:link {color: #c93333f1; }
a:visited {color: #801717; }
a:hover {color: #403333c4; }
a:active {color: #ff0606; }	

em {
  font-weight: bold;
  font-style: italic;
}

footer p {
	color:#f5f5f5f1;	
	text-align: center;
  padding: 20px;
  margin: 0;
}
/* -------  Modifier styles ------- */
hr{
  margin: 10px;
  padding: 0px;
}

/*----Elements----*/

img { 
  width: 25%;	
  border-radius: 8px;
  border: 1px solid #c5c0b8;
} 
.textwrap{
  float:left;
  margin:5px;
}
